@using AuthDemo.Razor.Services
﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AuthDemo.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <AuthorizeView >
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="flight">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Flight Schedules
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="flightDetail">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Flight Detail
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="match">
                        <span class="bi bi-clipboard-data" aria-hidden="true"></span> Game Schedule
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item pt-xxl-3">
                    <LogoutButton />
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>


